/* Importing Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');


.site-footer {
  background: #1b1f24;
  color: #d1d5db;
  letter-spacing: 1px;

  .footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 70px 20px 50px;
  }

  .footer-top {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr 1fr;
    gap: 50px;
  }

  /* BRAND */
  .footer-brand {
    h3 {
      font-size: 26px;
      font-weight: 700;
      color: #e5c07b;
      margin-bottom: 15px;
    }

    p {
      font-size: 15px;
      line-height: 1.7;
      color: #9ca3af;
    }
  }

  /* LINKS */
  .footer-links {
    h4 {
      font-size: 18px;
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 18px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 10px;

        a {
          color: #9ca3af;
          text-decoration: none;
          font-size: 15px;
          transition: color 0.3s ease;

          &:hover {
            color: #e5c07b;
          }
        }
      }
    }
  }

  /* CONTACT */
  .footer-contact {
    h4 {
      font-size: 18px;
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 18px;
    }

    p {
      font-size: 15px;
      line-height: 1.7;
      color: #9ca3af;

      a {
        color: #d1d5db;
        text-decoration: none;

        &:hover {
          color: #e5c07b;
        }
      }
    }
  }

  /* COPYRIGHT */
    .footer-bottom {
      background: #92897a;
    padding: 18px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    p,
    .footer-dev {
      font-size: 18px;
      color: #e3e5e8;
      margin: 0;
      white-space: nowrap;
    }

    .footer-dev a {
      color: #ffffff;
      text-decoration: none;
      margin-left: 4px;
      font-weight: 500;
    }

    .footer-dev a:hover {
      text-decoration: underline;
    }

    /* MOBILE VIEW */
    @media (max-width: 576px) {
      flex-direction: column;
      gap: 6px;
      text-align: center;

      p,
      .footer-dev {
        white-space: normal;
        font-size: 14px;
      }
    }
  }


  /* RESPONSIVE */
  @media (max-width: 992px) {
    .footer-top {
      grid-template-columns: 1fr;
      gap: 40px;
      text-align: center;
    }
  }
}

.social-icons {
  text-align: center;
  margin-top: 16px;
  display: flex;
  gap: 14px;

  @media (max-width: 600px) {
    flex-direction: row;
    justify-content: center;
  }
}

.social-icons img {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.15);
  opacity: 0.85;
}