.carousel {
  margin-top: 50px;
  @media (max-width: 768px) {
    margin-top: 80px;
  }
  @media (max-width: 576px) {
    margin-top: 80px;
  }
}

.product-card {
  padding: 10px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 1.2em;
  margin: 0;
}

/* Custom arrow styles */
.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  z-index: 1;
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-radius: 50%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.slick-prev:hover,
.slick-next:hover {
  /* background-color: rgba(0, 0, 0, 0.8); */
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px;
  color: #f0f0f0;
}

.slick-prev {
  left: 0px;
  /* Adjust as needed */
}

.slick-next {
  right: 0px;
  /* Adjust as needed */
}

/* Set a default height using viewport height */
.carousel-inner {
  // height: 50vh; /* Adjust as needed */
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Ensure captions are visible on all screen sizes */
.carousel-caption {
  display: block !important;
  /* Override Bootstrap's default hiding of captions on small screens */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  /* Add text shadow for better readability */
  text-align: left;
  left: 10%;
}

/* Adjust the height for different screen sizes */
@media (max-width: 768px) {
  .carousel-inner {
    // height: 40vh;
  }
}

@media (max-width: 576px) {
  .carousel-inner {
    // height: 30vh;
  }

  .carousel-caption {
    font-size: 0.8rem;
    /* Adjust font size for smaller screens */
  }
}


/* Keyframes for fade-in and slide-up animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Carousel caption container */
.carousel-caption {
  position: absolute;
  top: 68% !important;
  left: 8% !important;
  transform: translateY(-50%);
  text-align: left;
  color: #ece7e7 !important;
  padding: 0 20px;
  /* Add padding for better spacing on smaller screens */
}

/* Title styling */
.carousel-caption h5 {
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  /* Responsive font size */
  margin: 0;
  padding: 0;
  transition: all 0.4s ease;
  opacity: 0;
  animation: fadeInUp 1s forwards;
  animation-delay: 0.5s;
  color: #e9e7e7;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  -webkit-text-stroke: 1px black;
}


/* Subtitle styling */
.carousel-caption h4 {
  font-size: 1.5rem;
  /* Responsive font size */
  font-weight: 400;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  opacity: 0;
  animation: fadeInUp 1s forwards;
  animation-delay: 1s;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-text-stroke: 0.3px black;
  // -webkit-text-stroke: 0.3px black;
}

/* Paragraph styling */
.carousel-caption p {
  font-weight: 400;
  font-size: 1.3rem;
  /* Responsive font size */
  margin: 0;
  padding: 0;
  opacity: 0;
  animation: fadeInUp 1s forwards;
  animation-delay: 1.5s;
  color: #b92208;
  background: rgba(255, 255, 255, 0.3);
}

.carousel-control-next {
  //  backgr/ound: black;
  border: none !important;
  width: 100px !important;

  @media (max-width: 768px) {
    width: 50px !important;
  }

  @media (max-width: 576px) {
    width: 30px !important;
  }
}

.carousel-control-prev {
  border: none !important;
  width: 100px !important;

  @media (max-width: 768px) {
    width: 50px !important;
  }

  @media (max-width: 576px) {
    width: 30px !important;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .d-none {
    display: block !important;
  }

  .carousel-caption {
    left: 5%;
    padding: 0 10px;
  }

  .carousel-caption h5 {
    font-size: 2.5rem;
    /* Smaller font size for smaller screens */
  }

  .carousel-caption h4 {
    font-size: 1.2rem;
    /* Smaller font size for smaller screens */
  }

  .carousel-caption p {
    font-size: 0.9rem;
    /* Smaller font size for smaller screens */
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    left: 0%;
    padding: 0 5px;
  }

  .carousel-caption h5 {
    font-size: 16px;
    /* Even smaller font size for very small screens */
  }

  .carousel-caption h4 {
    font-size: 1rem;
    /* Even smaller font size for very small screens */
  }

  .carousel-caption p {
    font-size: 0.8rem;
    /* Even smaller font size for very small screens */
  }
}